<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.DownloadLogMapper">


    <select id="getCountOfDownload" resultType="java.lang.Integer">
        select sum(download_count) as downloadCount
        from download_count
        where delete_flag = 0
        <if test="guid != null and '' != guid">
            and file_id =  #{guid}
        </if>
    </select>
</mapper>