<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.IndexMapper">

<!--获取文件数，点赞数，访问数-->
    <select id="getIndexCount" resultType="com.cn.school.DTO.IndexDTO">
        select
        count(f.file_id) as fileCount,
        sum(p.praise_count) as praiseCount
        from file f,praise p
    </select>
    <select id="getIndexVisitCount" resultType="java.lang.Integer">
        select
        sum(v.count_time) as visitCount
        from visitors v
    </select>
    <!--统计文件类型下的数目-->
    <select id="getFileCount" resultType="com.cn.school.DTO.FileCountDTO">
        select
        filetype as fileType,
        COUNT(file_id) as fileCount
        from file
        GROUP by filetype
    </select>
    <select id="getIndexUnreadCount" resultType="java.lang.Integer">

        select count(guid) as unreadCount
        from message
        where delete_flag = 0
        and state = 0


    </select>
</mapper>